{% extends "layouts/cp_Principal.html" %}
{% load crispy_forms_tags %}
{% block title %}{% endblock %}
<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}
{% block content %}
    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-content">
            <!-- [ Main Content ] start -->
            <div class="row">
                <!-- [ sample-page ] start -->
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <h5>Listado de plataformas universitarias</h5>
                            <div class="float-right">
                            <div id="ModalLive2" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLiveLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLiveLabel2">Adicionar bibliografía especializada.</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="modal-body">
                                                <form class="was-validated">
                                                    <div class="form-group">
                                                        <label for="message-text2" class="col-form-label">Nombre de la bibliografía especializada:</label>
                                                        <input class="form-control" id="message-text2" required>
                                                    <div class="custom-file">
                                                        <input type="file" class="custom-file-input" id="validatedCustomFile" required>
                                                        <label class="custom-file-label" for="validatedCustomFile">Seleccionar documento...</label>
                                                        <div class="invalid-feedback">Seleccione un documento para enviar</div>
                                                    </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn  btn-secondary" data-dismiss="modal">Cancelar</button>
                                            <button type="button" class="btn  btn-primary">Enviar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="input-group rounded">
                                    <input type="search" class="form-control" placeholder="Buscar" aria-label="Search" aria-describedby="search-addon" />
                                    <span class="input-group-text border-0" id="search-addon">
                                        <i class="fas fa-search"></i>
                                    </span>
                                {% if perms.foo.view_contenttype %}
                            <a href="{% url 'crearplataformauniversitaria' %}" class="btn btn-primary"><i>Adicionar</i></a>
                                {% endif %}
                            </div></div>
                        </div>
                        <div class="card-block table-border-style">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>No.</th>
                                        <th>Nombre de la plataforma universitaria</th>
                                        {% if perms.foo.view_contenttype %}
                                        <th>Operaciones</th>
                                        {% endif %}
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% if object_list %}
                                        {% for e in object_list %}
                                            <tr>
                                                <td>{{ e.id }}</td>
                                                <td>{{ e.nombre }}</td>
                                        {% if perms.foo.view_contenttype %}
                                                <td>
                                                    <a href="{% url 'modificarplataformauniversitaria' e.id %}" class="btn btn-primary"><i>Modificar</i></a>
                                                    <a href="{% url 'eliminarplataformauniversitaria' e.id %}" class="btn btn-danger"><i>Eliminar</i></a>
                                                </td>
                                            {% endif %}
                                            </tr>
                                        {% endfor %}
                                    {% else %}
                                        <tr>
                                            <td> No hay datos a Mostrar</td>
                                        </tr>
                                    {% endif %}

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- [ sample-page ] end -->
            </div>
            <!-- [ Main Content ] end -->
        </div>
    </div>
    <!-- [ Main Content ] end -->
{% endblock content %}
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
