
<!-- [ navigation menu ] start -->
<nav class="pcoded-navbar menupos-fixed menu-light ">
    <div class="navbar-wrapper  ">
        <div class="navbar-content scroll-div " >
            <ul class="nav pcoded-inner-navbar ">

                <li class="nav-item">
                <li class="nav-item">
                    <a href="solicitudservicio.html" class="nav-link "><span class="pcoded-micon">
						   <i class="feather icon-file-text"></i></span><span class="pcoded-mtext">Solicitud de servicios</span></a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'listarbibliografia' %}" class="nav-link "><span class="pcoded-micon">
						   <i class="feather icon-file-text"></i></span><span class="pcoded-mtext">Bibliografía especializada</span></a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'listarnoticia' %}" class="nav-link "><span class="pcoded-micon">
						   <i class="feather icon-file-text"></i></span><span class="pcoded-mtext">Noticias</span></a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'listaradquisicion' %}" class="nav-link "><span class="pcoded-micon">
						   <i class="feather icon-file-text"></i></span><span class="pcoded-mtext">Adquisiciones</span></a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'listarcurso' %}" class="nav-link "><span class="pcoded-micon">
						   <i class="feather icon-file-text"></i></span><span class="pcoded-mtext">Curso</span></a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'listarplataformauniversitaria' %}" class="nav-link "><span class="pcoded-micon">
						   <i class="feather icon-file-text"></i></span><span class="pcoded-mtext">Plataforma universitaria</span></a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'listarasistenciaespecializada' %}" class="nav-link "><span class="pcoded-micon">
						   <i class="feather icon-file-text"></i></span><span class="pcoded-mtext">Asistencia Especializada</span></a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'listarreporteprestamo' %}" class="nav-link "><span class="pcoded-micon">
						   <i class="feather icon-file-text"></i></span><span class="pcoded-mtext">Reporte de prestamo</span></a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'listartraducciondocumento' %}" class="nav-link "><span class="pcoded-micon">
						   <i class="feather icon-file-text"></i></span><span class="pcoded-mtext">Traducción de documentos</span></a>
                </li>
                <li class="nav-item pcoded-menu-caption"></li>
            </ul>
        </div>
    </div>
</nav>
<!-- [ navigation menu ] end -->
