<!DOCTYPE html>
<html lang="en">

<head>

    <title>Biblioteca-UCI</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="description" content="" />
	<meta name="keywords" content="">
	<meta name="author" content="Jessica Alea Delgado" />

	<link rel="icon" href="/static/assets/images/index.png" type="image/x-icon">

	<!-- vendor css -->
	<link rel="stylesheet" href="/static/assets/css/style.css">

    <!-- Specific CSS goes HERE -->
    {% block stylesheets %}{% endblock stylesheets %}

</head>
<body>

    <!-- [ auth-signin ] start -->
    <div class="auth-wrapper">
        {% block content %}{% endblock content %}
    </div>
    <!-- [ auth-signin ] end -->

    {% include 'includes/scripts.html' %}

    <!-- Specific Page JS goes HERE  -->
    {% block javascripts %}{% endblock javascripts %} 

</body>
</html>
